# Object files
*.o

# Executables
*.exe

# Temporary editor files
*~
*.swp

# patches, patch related files
*.orig
*.patch
*.diff

# build directory
build/*

# Already configurated files.
src/GameBox/BuildConfiguration.vala

